<!DOCTYPE html>
<html>
  <head>
    <title>BrewBottle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('blueBottleCoffee.png') %>
    <script type="text/javascript">
      window.kyotoBrewBottle = "<%= image_url('kyotoBrewBottle.jpg') %>";
      window.espr2 = "<%= image_url('espr2.jpg') %>";
      window.sp2 = "<%= image_url('sp2.jpg') %>";
      window.sp6 = "<%= image_url('sp6.jpg') %>";
      window.sp4 = "<%= image_url('sp4.jpg') %>";
      window.sp5 = "<%= image_url('sp5.jpg') %>";
      window.spp6 = "<%= image_url('spp6.jpg') %>";
      window.usFlag = "<%= image_url('usFlag.png') %>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
