<!DOCTYPE html>
<html>
  <head>
    <title>BrewBottle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('blueBottleCoffee.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.kyotoBrewBottle = "<%= image_url('kyotoBrewBottle') %>";
      window.sp1 = "<%= image_url('sp1') %>";
      window.sp2 = "<%= image_url('sp2') %>";
      window.sp3 = "<%= image_url('sp3') %>";
      window.sp4 = "<%= image_url('sp4') %>";
      window.sp5 = "<%= image_url('sp5') %>";
      window.sp6 = "<%= image_url('sp6') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
